@page "/sign-in/trn-token/check-answers"
@model TeacherIdentity.AuthServer.Pages.SignIn.TrnToken.CheckAnswers
@{
    ViewBag.Title = "Check your answers";
}

@section BeforeContent
{
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.TrnTokenCheckAnswers()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>Check the details we have for you from your DfE teacher record.</p>
            <p>You’ll need to provide evidence for some name changes and all date of birth changes.</p>

            <h2 class="govuk-heading-m">Personal details</h2>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>First names</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value class="empty-hyphens">@Model.FirstName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Middle names</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.MiddleName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Last names</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.LastName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Preferred name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <span fallback-text="Not provided">@Model.PreferredName</span>
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RegisterPreferredName()" visually-hidden-text="name">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DateOfBirth?.ToString(Constants.DateFormat)</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RegisterDateOfBirth()" visually-hidden-text="date of birth">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Sign in details</h2>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value class="empty-hyphens">@Html.ShyEmail(Model.EmailAddress!)</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RegisterEmail()" visually-hidden-text="email" data-testid="trn-token-email-change-link">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Mobile phone</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <span fallback-text="Not provided">@Model.MobilePhoneNumber</span>
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="" visually-hidden-text="mobile phone">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>

