@page "/sign-in/trn-token"
@model TeacherIdentity.AuthServer.Pages.SignIn.TrnToken.Landing
@{
    ViewBag.Title = "Create a DfE Identity account";
}

<div class="govuk-panel app-panel--interruption" data-testid="landing-panel">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" data-testid="landing-content">
            <form action="@LinkGenerator.TrnTokenLanding()" method="post" asp-antiforgery="true">
                <h1 class="govuk-heading-l">@ViewBag.Title</h1>
                <p>It will only take a few minutes and you’ll need your:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>email address (used for contact and account security)</li>
                    <li>mobile phone number (used for account security)</li>
                    <li>name</li>
                    <li>date of birth</li>
                </ul>

                @if (Model.ClientDisplayName is not null)
                {
                    @if (Model.TrnMatchPolicy == TrnMatchPolicy.Strict)
                    {
                        <p>To use your DfE Identity account to @Model.ClientDisplayName, you’ll also need your:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>National Insurance number</li>
                            <li>teacher reference number (TRN)</li>
                        </ul>
                    }

                    <p>Once you’ve created an account, you can continue to <strong>@Model.ClientDisplayName</strong>.</p>
                }

                <govuk-details>
                    <govuk-details-summary>About DfE Identity accounts</govuk-details-summary>
                    <govuk-details-text>
                        <p>DfE Identity accounts are new. They let teachers and teaching professionals access different DfE services with one sign in. You can also update your details with DfE in one place.</p>
                        <p>If we already have your details in our records, we’ll try to link them with your new DfE Identity account. Some of your details may be different now, but you can change them in your account.</p>
                        <p>At the moment there are only a few DfE services using DfE Identity accounts. In the future, you’ll be able to use your account details to sign in to most DfE teaching services.</p>
                    </govuk-details-text>
                </govuk-details>

                <govuk-button type="submit" class="app-button--inverse">Create an account</govuk-button>

                <h2 class="govuk-heading-m">Already have an account?</h2>

                <p class="govuk-body govuk-!-margin-bottom-6">
                    <a href="@LinkGenerator.Email()">Sign in</a> to use your existing account details
                </p>
            </form>
        </div>
    </div>
</div>
