@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewBag.ServiceName = "Get an identity admin";
    ViewBag.ServiceUrl = "/admin";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section HeaderNav {
    <nav aria-label="Menu" class="govuk-header__navigation ">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
        <ul id="navigation" class="govuk-header__navigation-list">
            <li class="govuk-header__navigation-item @(Context.Request.Path.StartsWithSegments("/admin/users") ? "govuk-header__navigation-item--active" : "")">
                <a class="govuk-header__link" asp-page="Users">Users</a>
            </li>
            @if (User.IsInRole(StaffRoles.GetAnIdentityAdmin))
            {
                <li class="govuk-header__navigation-item @(Context.Request.Path.StartsWithSegments("/admin/clients") ? "govuk-header__navigation-item--active" : "")">
                    <a class="govuk-header__link" asp-page="Clients">Clients</a>
                </li>
                <li class="govuk-header__navigation-item @(Context.Request.Path.StartsWithSegments("/admin/staff") ? "govuk-header__navigation-item--active" : "")">
                    <a class="govuk-header__link" asp-page="Staff">Staff</a>
                </li>
                <li class="govuk-header__navigation-item @(Context.Request.Path.StartsWithSegments("/admin/webhooks") ? "govuk-header__navigation-item--active" : "")">
                    <a class="govuk-header__link" asp-page="WebHooks">Web hooks</a>
                </li>
            }
        </ul>
    </nav>
}

@section BeforeContent {
    @RenderSection("BeforeContent", required: false)
}

@RenderBody()
