@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewBag.ServiceName = "Get an identity admin";
    ViewBag.ServiceUrl = "/admin";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section HeaderNav {
    <ul id="navigation" class="govuk-header__navigation-list">
        <li class="govuk-header__navigation-item @(Context.Request.Path.StartsWithSegments("/admin/clients") ? "govuk-header__navigation-item--active" : "")">
            <a class="govuk-header__link" asp-page="Clients">Clients</a>
        </li>
        <li class="govuk-header__navigation-item @(Context.Request.Path.StartsWithSegments("/admin/staff") ? "govuk-header__navigation-item--active" : "")">
            <a class="govuk-header__link" asp-page="Staff">Staff</a>
        </li>
        <li class="govuk-header__navigation-item @(Context.Request.Path.StartsWithSegments("/admin/webhooks") ? "govuk-header__navigation-item--active" : "")">
            <a class="govuk-header__link" asp-page="WebHooks">Web hooks</a>
        </li>
    </ul>
}

@section BeforeContent {
    @RenderSection("BeforeContent", required: false)
}

@RenderBody()
