@page "/admin/webhooks/new"
@using TeacherIdentity.AuthServer.Notifications.Messages;
@model TeacherIdentity.AuthServer.Pages.Admin.AddWebHookModel
@{
    ViewBag.Title = "Add web hook";
}

<form asp-page="AddWebHook" method="post">
    <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

    <govuk-input asp-for="Endpoint" type="url" />

    <govuk-checkboxes asp-for="Enabled">
        <govuk-checkboxes-item value="@true">Enabled</govuk-checkboxes-item>
    </govuk-checkboxes>

    <govuk-checkboxes asp-for="WebHookMessageTypes">
        <govuk-checkboxes-fieldset>
            <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m" />

            <govuk-checkboxes-item value="@WebHookMessageTypes.UserCreated" checked="@Model.WebHookMessageTypes.HasFlag(WebHookMessageTypes.UserCreated)">@UserCreatedMessage.MessageTypeName</govuk-checkboxes-item>
            <govuk-checkboxes-item value="@WebHookMessageTypes.UserUpdated" checked="@Model.WebHookMessageTypes.HasFlag(WebHookMessageTypes.UserUpdated)">@UserUpdatedMessage.MessageTypeName</govuk-checkboxes-item>
            <govuk-checkboxes-item value="@WebHookMessageTypes.UserMerged" checked="@Model.WebHookMessageTypes.HasFlag(WebHookMessageTypes.UserMerged)">@UserMergedMessage.MessageTypeName</govuk-checkboxes-item>
        </govuk-checkboxes-fieldset>
    </govuk-checkboxes>

    <govuk-button type="submit">Save</govuk-button>
</form>
