@page "/admin/webhooks/{webHookId}"
@using TeacherIdentity.AuthServer.Notifications.Messages;
@model TeacherIdentity.AuthServer.Pages.Admin.EditWebHookModel
@{
    ViewBag.Title = "Edit web hook";
}

@section BeforeContent {
    <govuk-back-link asp-page="WebHooks" />
}

<form asp-page="EditWebHook" asp-route-webHookId="@Model.WebHookId" method="post">
    <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

    <govuk-input asp-for="Endpoint" type="url" />

    <govuk-checkboxes asp-for="Enabled">
        <govuk-checkboxes-item value="@true">Enabled</govuk-checkboxes-item>
    </govuk-checkboxes>

    <govuk-checkboxes asp-for="WebHookMessageTypes">
        <govuk-checkboxes-fieldset>
            <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m" />

            <govuk-checkboxes-item value="@WebHookMessageTypes.UserUpdated" checked="@Model.WebHookMessageTypes.HasFlag(WebHookMessageTypes.UserUpdated)">@UserUpdatedMessage.MessageTypeName</govuk-checkboxes-item>
            <govuk-checkboxes-item value="@WebHookMessageTypes.UserMerged" checked="@Model.WebHookMessageTypes.HasFlag(WebHookMessageTypes.UserMerged)">@UserMergedMessage.MessageTypeName</govuk-checkboxes-item>
        </govuk-checkboxes-fieldset>
    </govuk-checkboxes>

    <govuk-input asp-for="Secret" disabled class="govuk-!-margin-bottom-2" />

    <govuk-checkboxes asp-for="RegenerateSecret" class="govuk-checkboxes--small">
        <govuk-checkboxes-item value="@true">Regenerate secret</govuk-checkboxes-item>
    </govuk-checkboxes>

    <govuk-button type="submit">Save</govuk-button>
</form>
