@page "/admin/clients/{clientId}"
@using TeacherIdentity.AuthServer.Oidc
@model TeacherIdentity.AuthServer.Pages.Admin.EditClientModel
@{
    ViewBag.Title = Model.ClientId;
}

@section BeforeContent {
    <govuk-back-link asp-page="Clients" />
}

<form asp-page="EditClient" asp-route-clientId="@Model.ClientId" method="post">
    <h1 class="govuk-heading-xl">@Model.ClientId</h1>

    <govuk-input asp-for="DisplayName" input-class="govuk-input--width-20" />
    <govuk-input asp-for="ServiceUrl" type="url" />

    <govuk-textarea asp-for="RedirectUris">
        <govuk-textarea-value>@string.Join("\n", Model.RedirectUris!)</govuk-textarea-value>
    </govuk-textarea>

    <govuk-textarea asp-for="PostLogoutRedirectUris">
        <govuk-textarea-value>@string.Join("\n", Model.PostLogoutRedirectUris!)</govuk-textarea-value>
    </govuk-textarea>

    <govuk-checkboxes asp-for="ResetClientSecret">
        <govuk-checkboxes-item value="@true">
            @Html.DisplayNameFor(m => m.ResetClientSecret)
            <govuk-checkboxes-item-conditional>
                <govuk-input asp-for="ClientSecret" input-class="govuk-input--width-20" />
            </govuk-checkboxes-item-conditional>
        </govuk-checkboxes-item>
    </govuk-checkboxes>

    <govuk-checkboxes asp-for="Scopes">
        <govuk-checkboxes-fieldset>
            <govuk-checkboxes-fieldset-legend>Scopes</govuk-checkboxes-fieldset-legend>
            @foreach (var scope in CustomScopes.All)
            {
                <govuk-checkboxes-item value="@scope">@scope</govuk-checkboxes-item>
            }
        </govuk-checkboxes-fieldset>
    </govuk-checkboxes>

    <govuk-button type="submit">Save</govuk-button>
</form>
