@page "/admin/users/{userId}"
@using Microsoft.IdentityModel.Tokens
@model TeacherIdentity.AuthServer.Pages.Admin.UserModel
@{
    ViewBag.Title = Model.Name;
}

@section BeforeContent {
    <govuk-back-link asp-page="Users" />
}

<h1 class="govuk-heading-l">
    @Model.Name
</h1>


@if (Model.HasProhibitions)
{
    <section class="govuk-!-margin-bottom-6">
        <govuk-warning-text icon-fallback-text="Warning" data-testid="user-has-prohibitions">
            <span>This user has prohibitions and cannot access every service</span>
        </govuk-warning-text>
    </section>
}



<section class="x-govuk-summary-card govuk-!-margin-bottom-6">
    <header class="x-govuk-summary-card__header">
        <h2 class="x-govuk-summary-card__title">
            Get an identity details
        </h2>
    </header>

    <div class="x-govuk-summary-card__body">
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <p data-testid="Name">@Model.Name</p>

                    <span class="govuk-!-font-size-16 govuk-hint">
                        Name used in Get an identity<br>
                        @if (!string.IsNullOrEmpty(Model.RegistrationClientDisplayName))
                        {
                            <text>From: @Model.RegistrationClientDisplayName<br></text>
                        }
                        Created: @Model.Created.ToString(Constants.DateFormat) at @Model.Created.ToString("hh:mmtt")
                    </span>
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action asp-page="EditUserName" asp-route-userId="@Model.UserId" visually-hidden-text="name">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Preferred name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.PreferredName</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action asp-page="EditUserName" asp-route-userId="@Model.UserId" visually-hidden-text="preferred name">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                <govuk-summary-list-row-value class="empty-hyphens">@Html.ShyEmail(Model.EmailAddress!)</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action asp-page="EditUserEmail" asp-route-userId="@Model.UserId" visually-hidden-text="email address">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Mobile number</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.MobileNumber</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action asp-page="EditUserMobileNumber" asp-route-userId="@Model.UserId" visually-hidden-text="mobile number">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>National insurance number</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.NationalInsuranceNumber</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("d MMMM yyyy") : "")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>DQT record</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@(Model.HaveDqtRecord ? "Yes" : "No")</govuk-summary-list-row-value>
                @if (Model.CanChangeDqtRecord)
                {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-page="AssignTrn/Index" asp-route-userId="@Model.UserId">Assign TRN</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Merged user IDs</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @if (Model.MergedUserIds.IsNullOrEmpty())
                    {
                        <p>None</p>
                    }
                    else
                    {
                        foreach (var userId in Model.MergedUserIds!)
                        {
                            <p>@userId</p>
                        }
                    }
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action asp-page="MergeUser/SelectUser" asp-route-userId="@Model.UserId">Merge user</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</section>

@if (Model.HaveDqtRecord)
{
    <section class="x-govuk-summary-card govuk-!-margin-bottom-6" data-testid="DqtSection">
        <header class="x-govuk-summary-card__header">
            <h2 class="x-govuk-summary-card__title">
                DQT record
            </h2>
        </header>

        <div class="x-govuk-summary-card__body">
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DqtName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DqtDateOfBirth!.Value.ToString("d MMMM yyyy")</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>National insurance number</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DqtNationalInsuranceNumber</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Trn</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                @{
                    if (Model.EffectiveVerificationLevel == TrnVerificationLevel.Low)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>TRN verification level</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value><govuk-tag class="govuk-tag--yellow">Low</govuk-tag></govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action asp-page="ElevateUserTrnVerification" asp-route-userId="@Model.UserId" visually-hidden-text="TRN verification level">Elevate</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    else if (Model.EffectiveVerificationLevel == TrnVerificationLevel.Medium)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>TRN verification level</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value><govuk-tag class="govuk-tag--blue">Medium</govuk-tag></govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    }
                }
            </govuk-summary-list>
        </div>
    </section>
}
