@page "/admin/user-imports/{userImportJobId}"
@model TeacherIdentity.AuthServer.Pages.Admin.UserImportModel
@{
    ViewBag.Title = Model.Filename;
}

@section BeforeContent {
    <govuk-back-link asp-page="UserImports" />
}

<h1 class="govuk-heading-l">
    @Model.Filename
</h1>

<section class="x-govuk-summary-card govuk-!-margin-bottom-6" data-testid="summary-@Model.UserImportJobId">
    <header class="x-govuk-summary-card__header">
        <h2 class="x-govuk-summary-card__title">
            User import summary
        </h2>
    </header>

    <div class="x-govuk-summary-card__body">
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>File</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="file-@Model.UserImportJobId">@Model.Filename</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Uploaded</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="uploaded-@Model.UserImportJobId">@Model.Uploaded</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="status-@Model.UserImportJobId">@Model.Status</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Users added</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="added-@Model.UserImportJobId">@Model.AddedCount</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Users updated</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="updated-@Model.UserImportJobId">@Model.UpdatedCount</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Invalid</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="invalid-@Model.UserImportJobId">@Model.InvalidCount</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>No action</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="noaction-@Model.UserImportJobId">@Model.NoActionCount</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Total rows</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="total-@Model.UserImportJobId">@Model.TotalRowsCount</govuk-summary-list-row-value>
                @if (Model.UserImportRows is not null && Model.UserImportRows.Length > 0)
                {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action asp-page="UserImport" asp-page-handler="DownloadFile">Download (.csv)</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</section>

@if (Model.UserImportRows?.Length > 0)
{
    <table class="govuk-table" data-testid="details-@Model.UserImportJobId">
        <caption class="govuk-table__caption govuk-table__caption--l">Details</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Row number</th>
                <th scope="col" class="govuk-table__header">ID</th>
                <th scope="col" class="govuk-table__header">User ID</th>
                <th scope="col" class="govuk-table__header">Import result</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var userImportRow in Model.UserImportRows!)
            {
                <tr class="govuk-table__row" data-testid="user-import-row-@userImportRow.RowNumber">
                    <td class="govuk-table__cell @(userImportRow.NotesCount != 0 ? "gai-!-border-bottom-0" : null)" data-testid="rownumber-@userImportRow.RowNumber">@userImportRow.RowNumber</td>
                    <td class="govuk-table__cell @(userImportRow.NotesCount != 0 ? "gai-!-border-bottom-0" : null)" data-testid="id-@userImportRow.RowNumber"><pre class="govuk-!-margin-0">@userImportRow.Id</pre></td>
                    <td class="govuk-table__cell @(userImportRow.NotesCount != 0 ? "gai-!-border-bottom-0" : null)" data-testid="userid-@userImportRow.RowNumber"><pre class="govuk-!-margin-0">@userImportRow.UserId</pre></td>
                    <td class="govuk-table__cell @(userImportRow.NotesCount != 0 ? "gai-!-border-bottom-0" : null)" data-testid="result-@userImportRow.RowNumber">@userImportRow.UserImportRowResult</td>
                </tr>
                @if (userImportRow.NotesCount != 0)
                {
                    <tr class="govuk-table__row" data-testid="user-import-row-notes-@userImportRow.RowNumber">
                        <td class="govuk-table__cell" colspan="4">
                            <govuk-details class="govuk-!-margin-bottom-0">
                                <govuk-details-summary>
                                    Notes
                                </govuk-details-summary>
                                <govuk-details-text>
                                    @foreach (var note in userImportRow.Notes)
                                    {
                                        <p>@note</p>
                                    }
                                </govuk-details-text>
                            </govuk-details>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

