@page "/admin/users"
@model TeacherIdentity.AuthServer.Pages.Admin.UsersModel
@{
    ViewBag.Title = "Users";
}

<form asp-page="Users" method="get">
    <h1 class="govuk-heading-l">@ViewBag.Title</h1>
    <div class="moj-filter-layout">
        <div class="moj-filter-layout__filter">
            <div class="moj-filter">
                <div class="moj-filter__header">
                    <div class="moj-filter__header-title">
                        <h2 class="govuk-heading-m">Filter</h2>
                    </div>
                    <div class="moj-filter__header-action"></div>
                </div>
                <div class="moj-filter__content">
                    <div class="moj-filter__options">
                        <govuk-button type="submit">Apply filters</govuk-button>

                        <govuk-input asp-for="UserSearch" label-class="govuk-label--s" />

                        <govuk-checkboxes asp-for="LookupStatus" class="govuk-checkboxes--small">
                            <govuk-checkboxes-fieldset>
                                <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--s"/>
                                @foreach (var status in Enum.GetValues(typeof(TrnLookupStatus)))
                                {
                                    if ((TrnLookupStatus)status != TrnLookupStatus.Pending)
                                    {
                                        <govuk-checkboxes-item value="@status">@status</govuk-checkboxes-item>
                                    }
                                    else
                                    {
                                        <govuk-checkboxes-item value="@status">
                                            @status
                                            <govuk-checkboxes-item-conditional>
                                                <govuk-checkboxes asp-for="WithSupportTicket" class="govuk-checkboxes--small">
                                                    <govuk-checkboxes-item value="@true">@Html.DisplayNameFor(m => m.WithSupportTicket)</govuk-checkboxes-item>
                                                </govuk-checkboxes>
                                            </govuk-checkboxes-item-conditional>
                                         </govuk-checkboxes-item>
                                    }
                                }

                            </govuk-checkboxes-fieldset>
                        </govuk-checkboxes>
                    </div>
                </div>
            </div>
        </div>
        <div class="moj-filter-layout__content">
            <div class="moj-scrollable-pane" data-testid="moj-scrollable-pane">
                @if (Model.TotalUsers > 0)
                {
                    <p>Showing @Model.FilteredUsers!.Length of @Model.TotalUsers total</p>
                }
                else
                {
                    <p>No users found</p>
                }

                @if (Model.TotalPages > 1)
                {
                    <govuk-pagination>
                        @if (Model.PreviousPage.HasValue)
                        {
                            <govuk-pagination-previous asp-page="Users" asp-all-route-data="@Model.GetPage((int)Model.PreviousPage!)" asp-route-usersearch="@Model.UserSearch" />
                        }

                        @for (int i = 0; i < Model.PaginationPages!.Length; i++)
                        {
                            var item = Model.PaginationPages[i];

                            if (i > 0 && Model.PaginationPages[i - 1] != item - 1)
                            {
                                <govuk-pagination-ellipsis/>
                            }

                            <govuk-pagination-item asp-page="Users" asp-all-route-data=@Model.GetPage(item) is-current="@(item == Model.PageNumber)" asp-route-usersearch="@Model.UserSearch">@item</govuk-pagination-item>
                        }

                        @if (Model.NextPage.HasValue)
                        {
                            <govuk-pagination-next asp-page="Users" asp-all-route-data=@Model.GetPage((int)Model.NextPage!) asp-route-usersearch="@Model.UserSearch" />
                        }
                    </govuk-pagination>
                }

                @if (Model.FilteredUsers!.Length > 0)
                {
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Email</th>
                            <th scope="col" class="govuk-table__header">Support ticket</th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        @foreach (var user in Model.FilteredUsers!)
                        {
                            <tr class="govuk-table__row" data-testid="user-@user.UserId">
                                <td class="govuk-table__cell"><a asp-page="User" asp-route-userId="@user.UserId">@user.Name</a></td>
                                <td class="govuk-table__cell empty-hyphens">@Html.ShyEmail(user.EmailAddress)</td>
                                <td class="govuk-table__cell">@(user.TrnLookupSupportTicketCreated ? "Yes" : "No")</td>
                                @if (user.Trn is null)
                                {
                                    <td class="govuk-table__cell"><a asp-page="AssignTrn/Index" asp-route-userId="@user.UserId">Assign TRN</a></td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell"/>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                }

                @if (Model.PreviousPage.HasValue || Model.NextPage.HasValue)
                {
                    <govuk-pagination>
                        @if (Model.PreviousPage.HasValue)
                        {
                            <govuk-pagination-previous asp-page="Users" asp-all-route-data=@Model.GetPage((int)Model.PreviousPage!)/>
                        }

                        @if (Model.NextPage.HasValue)
                        {
                            <govuk-pagination-next asp-page="Users" asp-all-route-data=@Model.GetPage((int)Model.NextPage!)/>
                        }
                    </govuk-pagination>
                }
            </div>
        </div>
    </div>
</form>


