@page "/update-email/confirmation"
@model TeacherIdentity.AuthServer.Pages.Authenticated.UpdateEmail.ConfirmationModel
@{
    ViewBag.Title = "Confirm your email address";

    var safeCancelUrl = !string.IsNullOrEmpty(Model.CancelUrl) && Url.IsLocalUrl(Model.CancelUrl) ?
        Model.CancelUrl :
        "/";
}

@section BeforeContent {
    <govuk-back-link href="@safeCancelUrl" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.UpdateEmailConfirmation(Model.Email!, Model.ReturnUrl, Model.CancelUrl)" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>We’ve emailed a confirmation code to <span data-testid="email">@Model.Email</span></p>

            <govuk-input asp-for="Code" input-class="govuk-!-width-one-quarter" pattern="[0-9]*" inputmode="numeric" autocomplete="one-time-code">
                <govuk-input-label class="govuk-label--s" />
            </govuk-input>

            <p>
                <a href="@LinkGenerator.ResendUpdateEmailConfirmation(Model.Email!, Model.ReturnUrl, Model.CancelUrl)">I have not received an email</a>
            </p>

            <div class="govuk-button-group">
                <govuk-button prevent-double-click="true" type="submit">Continue</govuk-button>
                <govuk-button-link href="@safeCancelUrl" class="govuk-button--secondary">Cancel changes</govuk-button-link>
            </div>
        </form>
    </div>
</div>
