@page "/sign-in/elevate/check-answers"
@model TeacherIdentity.AuthServer.Pages.SignIn.Elevate.CheckAnswers
@{
    ViewBag.Title = "Check your answers";
}

@section BeforeContent
{
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.ElevateCheckAnswers()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <span fallback-text="Not provided">@Model.NationalInsuranceNumber</span>
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RegisterNiNumber()" visually-hidden-text="national insurance number">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Teacher reference number (TRN)</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Trn</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RegisterTrn()" visually-hidden-text="teacher reference number (TRN)">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-button type="submit">Submit request</govuk-button>
        </form>
    </div>
</div>

