@{
    ViewData["Title"] = Model.FirstTimeSignInForEmail ?
        (await Component.InvokeAsync("ClientScopedPartial", new { viewName = "_TrnLookup.EndBookend.FirstTimeSignIn.{0}.Title" })).RenderToString() :
        "Your details";;
}

@if (Model.FirstTimeSignInForEmail)
{
    <govuk-panel class="app-panel--interruption" data-testid="legacy-first-time-user-content">
        <govuk-panel-title><span data-testid="legacy-first-time-user-postsigninmessage"></span>@ViewBag.Title</govuk-panel-title>

        <govuk-panel-body>
            @if (Model.GotTrn)
            {
                <p>Thank you, we’ve finished checking our records.</p>

                <p>If you need to come back to this service later you’ll only need to give us your email address <strong>(@Model.Email)</strong>.</p>
            }
            else
            {
                <vc:client-scoped-partial view-name="_TrnLookup.EndBookend.FirstTimeSignInWithoutTrn.{0}.Content"/>
            }

            <govuk-button type="submit" class="app-button--inverse govuk-!-margin-bottom-0">Continue</govuk-button>
        </govuk-panel-body>
    </govuk-panel>
}
else
{
    <div class="govuk-grid-row" data-testid="legacy-known-user-content">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Name</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action visually-hidden-text="name" href="@LinkGenerator.UpdateName(returnUrl: LinkGenerator.CompleteAuthorization(), cancelUrl: LinkGenerator.CompleteAuthorization())">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value class="empty-hyphens">@HtmlHelperExtensions.ShyEmail(Html, Model.Email!)</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action visually-hidden-text="email" href="@LinkGenerator.UpdateEmail(returnUrl: LinkGenerator.CompleteAuthorization(), cancelUrl: LinkGenerator.CompleteAuthorization())">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-button type="submit">Continue</govuk-button>
        </div>
    </div>
}
