@if (Model.FirstTimeSignInForEmail)
{
    <govuk-panel class="app-panel--interruption" data-testid="first-time-user-content">
        <govuk-panel-title><span data-testid="first-time-user-postsigninmessage"></span>@ViewBag.Title</govuk-panel-title>

        <govuk-panel-body>
            <p>Next time, you can sign in just using your email @Model.Email.</p>
            <p>Continue to <strong>@Model.ClientDisplayName</strong></p>
            <govuk-button type="submit" class="app-button--inverse govuk-!-margin-bottom-0">Continue</govuk-button>
        </govuk-panel-body>
    </govuk-panel>
}
else
{
    <govuk-panel class="app-panel--interruption" data-testid="known-user-content">
        <govuk-panel-title><span data-testid="first-time-user-postsigninmessage"></span>@ViewBag.Title</govuk-panel-title>

        <govuk-panel-body>
            <p>Continue to <strong>@Model.ClientDisplayName</strong></p>
            <govuk-button type="submit" class="app-button--inverse govuk-!-margin-bottom-0">Continue</govuk-button>
        </govuk-panel-body>
    </govuk-panel>
}
