@page "/sign-in/complete"
@using static OpenIddict.Abstractions.OpenIddictConstants
@model TeacherIdentity.AuthServer.Pages.SignIn.CompleteModel
@{
    ViewBag.Title = Model.FirstTimeSignInForEmail ?
        "You’ve created a DfE Identity account" :
        "You’ve signed in to your DfE Identity account";

    var responseMode = Model.ResponseMode!;
    var method = responseMode == ResponseModes.FormPost ? "post" : "get";
    var action = Model.RedirectUri!;

    if (Model.ResponseMode == ResponseModes.Fragment)
    {
        foreach (var (key, value) in Model.ResponseParameters!)
        {
            action += action.Contains("#") ? "&" : "#" +
                Uri.EscapeDataString(key) +
                "=" +
                Uri.EscapeDataString(value);
        }
    }

    ViewData.Add("Scope", Model.Scope);

    var signOutLink = LinkGenerator.SignOut();
}

@section HeaderNav {
    <nav aria-label="Menu" class="govuk-header__navigation ">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
        <ul id="navigation" class="govuk-header__navigation-list">
            <li class="govuk-header__navigation-item @(ViewContext.HttpContext.Request.Path == signOutLink ? "govuk-header__navigation-item--active" : "")">
                <a class="govuk-header__link" href="@signOutLink">Sign out</a>
            </li>
        </ul>
    </nav>
}

@if (Model.TrnRequirementType == TrnRequirementType.Required && Model.TrnLookupStatus != TrnLookupStatus.Found)
{
    <vc:sign-in-complete
        trn-requirement-type="@Model.TrnRequirementType"
        trn-lookup-status="@Model.TrnLookupStatus"
        trn-lookup-support-ticket-created="@Model.TrnLookupSupportTicketCreated" />
}
else
{
    <form action="@action" method="@method" asp-antiforgery="false">
        @if (responseMode != ResponseModes.Fragment)
        {
            foreach (var (key, value) in Model.ResponseParameters!)
            {
                <input type="hidden" name="@key" value="@value">
            }
        }

        <vc:sign-in-complete
            trn-requirement-type="@Model.TrnRequirementType"
            trn-lookup-status="@Model.TrnLookupStatus"
            trn-lookup-support-ticket-created="@Model.TrnLookupSupportTicketCreated" />
    </form>
}
