@page "/sign-in/trn/choose-email"
@model TeacherIdentity.AuthServer.Pages.SignIn.TrnInUseChooseEmailModel
@{
    ViewBag.Title = "Which email address do you want to use?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.TrnInUseChooseEmail()" method="post" asp-antiforgery="true">
            <govuk-radios asp-for="Email">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--xl">
                        Which email address do you want to use?
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-item value="@Model.SignedInEmail" data-testid="Email-SignedIn">@Model.SignedInEmail</govuk-radios-item>
                    <govuk-radios-item value="@Model.ExistingAccountEmail" data-testid="Email-ExistingAccount">@Model.ExistingAccountEmail</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit" prevent-double-click="true">Continue</govuk-button>
        </form>
    </div>
</div>
