@page "/sign-in/update-details"
@model TeacherIdentity.AuthServer.Pages.SignIn.UpdateDetailsModel
@{
    ViewBag.Title = "Update your details";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.CompleteAuthorization()" />
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        @if (Model.UserType == UserType.Default)
        {
            <h2 class="govuk-heading-m">Update your name</h2>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.DqtName
                        <p class="govuk-hint govuk-!-font-size-14">used for certificates</p>
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <p>To update the name that will appear on your certificates, <a href="https://www.gov.uk/guidance/teacher-self-service-portal" target="_blank">access the Teacher self-service portal</a>.</p>
            <p>You can also update your date of birth and National Insurance number there.</p>
        }

        <h2 class="govuk-heading-m">Update your preferred name or email</h2>

        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Preferred name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.Name
                    <p class="govuk-hint govuk-!-font-size-14">used for email correspondence</p>
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action visually-hidden-text="name" href="#">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row><govuk-summary-list-row>
                <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Email</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action visually-hidden-text="email" href="#">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
        </govuk-summary-list>

        <govuk-button-link href="@LinkGenerator.CompleteAuthorization()" class="govuk-button--secondary">Back to details confirmation</govuk-button-link>
    </div>
</div>
