@model ProfileModel

<p class="govuk-body">
  Hi
  <span data-testid="first-name">@Model.FirstName</span>
  <span data-testid="last-name">@Model.LastName</span>
</p>

<p class="govuk-body">
  Email: <span data-testid="email">@Model.Email</span><br />
  User ID: <span data-testid="user-id">@Model.UserId</span><br />
  TRN: <span data-testid="trn">@Model.Trn</span><br />
  Preferred name: <span data-testid="preferred-name">@Model.PreferredName</span><br />
</p>
