@page "/admin/users/{userId}/assign-trn/confirm"
@using TeacherIdentity.AuthServer.Helpers
@using GovUk.Frontend.AspNetCore.TagHelpers
@model TeacherIdentity.AuthServer.Pages.Admin.AssignTrn.ConfirmModel
@{
    ViewBag.Title = Model.Trn is not null ?
        "We found a DQT record, is it the right one?" :
        "Are you sure this user does not have a TRN?";
}

@section BeforeContent {
    <govuk-back-link asp-page="Index" asp-route-userId="@Model.UserId" asp-route-trn="@Model.Trn" asp-route-hasTrn="@(Model.Trn is not null)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-page="Confirm" asp-route-userId="@Model.UserId" asp-route-trn="@Model.Trn">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <section class="x-govuk-summary-card govuk-!-margin-bottom-6" data-testid="IdSection">
                <header class="x-govuk-summary-card__header">
                    <h2 class="x-govuk-summary-card__title">
                        Get an identity
                    </h2>
                </header>

                <div class="x-govuk-summary-card__body">
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value class="empty-hyphens">@Html.ShyEmail(Model.EmailAddress!)</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@Model.Name</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@Model.DateOfBirth!.Value.ToString("d MMMM yyyy")</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </div>
            </section>

            @if (Model.Trn is not null)
            {
                <section class="x-govuk-summary-card govuk-!-margin-bottom-6" data-testid="DqtSection">
                    <header class="x-govuk-summary-card__header">
                        <h2 class="x-govuk-summary-card__title">
                            DQT record
                        </h2>
                    </header>

                    <div class="x-govuk-summary-card__body">
                        <dl class="govuk-summary-list">
                            <govuk-summary-list>
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>@Model.Trn</govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        @if (!string.IsNullOrEmpty(Model.DqtEmailAddress))
                                        {
                                            <span class="empty-hyphens">@Html.ShyEmail(Model.DqtEmailAddress)</span>
                                        }
                                    </govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>@NameHelper.GetFullName(Model.DqtFirstName, Model.DqtMiddleName, Model.DqtLastName)</govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>@Model.DqtDateOfBirth!.Value.ToString("d MMMM yyyy")</govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                            </govuk-summary-list>
                        </dl>
                    </div>
                </section>

                if (!string.IsNullOrEmpty(Model.DqtEmailAddress) && Model.DqtEmailAddress != Model.EmailAddress)
                {
                    <govuk-warning-text icon-fallback-text="Warning" data-testid="EmailOverwriteWarning">
                        The DQT email address will be overwritten with
                        <span class="empty-hyphens">@Html.ShyEmail(Model.EmailAddress!))</span>
                        when the TRN is assigned.
                    </govuk-warning-text>
                }

                <govuk-radios asp-for="AssignTrn">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                        <govuk-radios-item value="@true">Yes, assign this TRN</govuk-radios-item>
                        <govuk-radios-item value="@false">No, this is the wrong TRN</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            }
            else
            {
                <govuk-checkboxes asp-for="ConfirmNoTrn">
                    <govuk-checkboxes-item value="@true">@Html.DisplayNameFor(m => m.ConfirmNoTrn)</govuk-checkboxes-item>
                </govuk-checkboxes>
            }

            <govuk-button type="submit">Save and continue</govuk-button>
        </form>
    </div>
</div>
