@page "/account"
@model TeacherIdentity.AuthServer.Pages.Account.IndexModel
@{
    ViewBag.Title = "DfE Identity account";

    var dateOfBirthChangeEnabled = Model.DqtDateOfBirth is null || (Model.DateOfBirthConflict && !Model.PendingDqtDateOfBirthChange);
}

@section BeforeContent
{
    @if (Model.ClientRedirectInfo is not null && Model.ClientDisplayName is not null)
    {
        <div class="gai-banner-bar">
            <govuk-back-link href="@Model.ClientRedirectInfo.RedirectUri" data-testid="BackLink">
                Back to @Model.ClientDisplayName
            </govuk-back-link>
        </div>
    }
}

@if (Model.DateOfBirthConflict && !Model.PendingDqtDateOfBirthChange)
{
    <govuk-notification-banner data-testid="dob-conflict-notification-banner">
        <h3 class="govuk-notification-banner__heading">Confirm your correct date of birth</h3>
        <p>
            We’ve got two different dates of birth for you. The one you entered when you created your DfE Identity
            account is different to the one already in our records. Change the incorrect date of birth.
        </p>
    </govuk-notification-banner>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">DfE Identity account</span>
        <h1 class="govuk-heading-l">Your details</h1>

        <h3 class="govuk-heading-m">Personal details</h3>
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Name</govuk-summary-list-row-value>
                @if (Model.NameChangeEnabled)
                {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.AccountName(firstName: null, middleName: null, lastName: null, Model.ClientRedirectInfo)" visually-hidden-text="name" data-testid="name-change-link">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }                
            </govuk-summary-list-row>
            @if (Model.Trn is not null)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Official name</govuk-summary-list-row-key>
                    @if (Model.PendingDqtNameChange)
                    {
                        <govuk-summary-list-row-value>
                            @Model.OfficialName
                            <p class="govuk-hint govuk-!-font-size-14">Displayed on teaching certificates </p>
                            <govuk-tag class="govuk-tag--yellow" data-testid="name-pending-review-tag">PENDING REVIEW</govuk-tag>
                        </govuk-summary-list-row-value>
                    }
                    else
                    {
                        <govuk-summary-list-row-value>
                            @Model.OfficialName
                            <p class="govuk-hint govuk-!-font-size-14">Displayed on teaching certificates </p>
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@LinkGenerator.AccountOfficialName(Model.ClientRedirectInfo)" visually-hidden-text="official name" data-testid="dqt-name-change-link">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Preferred name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <span fallback-text="Not provided">@Model.PreferredName</span>
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@LinkGenerator.AccountPreferredName(preferredName: null, Model.ClientRedirectInfo)" visually-hidden-text="preferred name" data-testid="preferred-name-change-link">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.DateOfBirth?.ToString(Constants.DateFormat)
                    @if (Model.DateOfBirthConflict)
                    {
                        <p class="govuk-hint govuk-!-font-size-14" data-testid="dob-hint-text">Entered when creating account</p>
                    }
                    @if (Model.PendingDqtDateOfBirthChange)
                    {
                        <govuk-tag class="govuk-tag--yellow" data-testid="dob-pending-review-tag">PENDING REVIEW</govuk-tag>
                    }
                </govuk-summary-list-row-value>
                @if (dateOfBirthChangeEnabled)
                {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.AccountDateOfBirth(dateOfBirth: null, Model.ClientRedirectInfo)" visually-hidden-text="date of birth" data-testid="dob-change-link">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>
            @if (Model.DateOfBirthConflict)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.DqtDateOfBirth?.ToString(Constants.DateFormat)
                        <p class="govuk-hint govuk-!-font-size-14" data-testid="dqt-dob-hint-text">
                            Date of birth already in our records
                        </p>
                        @if (Model.PendingDqtDateOfBirthChange)
                        {
                            <govuk-tag class="govuk-tag--yellow" data-testid="dqt-dob-pending-review-tag">PENDING REVIEW</govuk-tag>
                        }
                    </govuk-summary-list-row-value>
                    @if (dateOfBirthChangeEnabled)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@LinkGenerator.AccountOfficialDateOfBirth(Model.ClientRedirectInfo)" visually-hidden-text="date of birth" data-testid="dqt-dob-change-link">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
            }
        </govuk-summary-list>

        @if (Model.Trn is not null)
        {
            <h3 class="govuk-heading-m">Teacher reference number (TRN)</h3>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Trn</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
        }

        <h3 class="govuk-heading-m">Sign in details</h3>
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                <govuk-summary-list-row-value class="empty-hyphens">@Html.ShyEmail(Model.Email!)</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@LinkGenerator.AccountEmail(Model.ClientRedirectInfo)" visually-hidden-text="email">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Mobile number</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.MobileNumber</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@LinkGenerator.AccountPhone(Model.ClientRedirectInfo)" visually-hidden-text="mobile number">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
        </govuk-summary-list>

        @if (Model.ClientRedirectInfo is not null && Model.ClientDisplayName is not null)
        {
            <govuk-button-link href="@Model.ClientRedirectInfo.RedirectUri" data-testid="BackButton">
                Back to @Model.ClientDisplayName
            </govuk-button-link>
        }
    </div>
</div>
