@page "/sign-in/register/account-exists"
@model TeacherIdentity.AuthServer.Pages.SignIn.Register.AccountExists
@{
    ViewBag.Title = "We’ve found an account that matches your details";
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RegisterAccountExists()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>This could be because you already have a DfE Identity account, and you’re using a different email address or mobile phone number.</p>

            <h2 class="govuk-heading-m">Is this your account?</h2>

            <govuk-inset-text>@Redactor.RedactEmail(Model.ExistingAccountEmail!)</govuk-inset-text>

            <govuk-radios asp-for="IsUsersAccount">
                <govuk-radios-fieldset>
                    <govuk-radios-item value="True">
                        Yes, sign into this account
                        <govuk-radios-item-hint>We’ll send a security code to @Redactor.RedactEmail(Model.ExistingAccountEmail!)</govuk-radios-item-hint>
                    </govuk-radios-item>
                    <govuk-radios-item value="False">
                        No, this is not my account
                        <govuk-radios-item-hint>Create an account using @Model.Email</govuk-radios-item-hint>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
