@page "/sign-in/register/email-confirmation"
@model TeacherIdentity.AuthServer.Pages.SignIn.Register.EmailConfirmationModel
@{
    ViewBag.Title = "Confirm your email address";
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RegisterEmailConfirmation()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>A confirmation code has been sent to <span data-testid="email">@Model.Email</span></p>

            <govuk-input asp-for="Code" input-class="govuk-!-width-one-quarter" pattern="[0-9]*" inputmode="numeric" autocomplete="one-time-code">
                <govuk-input-label class="govuk-label--s" />
            </govuk-input>

            <p>
                <a href="@LinkGenerator.RegisterResendEmailConfirmation()">I have not received an email</a>
            </p>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
