@page "/sign-in/register/existing-account-phone-confirmation"
@model TeacherIdentity.AuthServer.Pages.SignIn.Register.ExistingAccountPhoneConfirmation
@{
    ViewBag.Title = "Check your phone";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.RegisterExistingAccountPhone()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RegisterExistingAccountPhoneConfirmation()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

            <p>We’ve sent you a text message with a security code to <b data-testid="mobileNumber">@Redactor.RedactMobileNumber(Model.MobileNumber!)</b></p>

            <govuk-input asp-for="Code" input-class="govuk-!-width-one-quarter" pattern="[0-9]*" inputmode="numeric" autocomplete="one-time-code">
                <govuk-input-label class="govuk-label--s" />
            </govuk-input>

            <p><a href="@LinkGenerator.RegisterResendExistingAccountPhone()">I have not received a text message</a></p>
            <p><a href="@LinkGenerator.RegisterResendPhoneConfirmation()">I can’t access this mobile number</a></p>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
