@page "/account/phone/confirm"
@model TeacherIdentity.AuthServer.Pages.Account.Phone.Confirm
@{
    ViewBag.Title = "Confirm change";
}

@section BeforeContent
{
    <govuk-back-link href="@LinkGenerator.AccountPhone(Model.ClientRedirectInfo)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.AccountPhoneConfirm(Model.MobileNumber!, Model.ClientRedirectInfo)" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>We’ve sent you a text message with a security code to <b data-testid="mobileNumber">@Model.MobileNumber</b></p>

            <govuk-input
                asp-for="Code"
                input-class="govuk-!-width-one-quarter govuk-input--extra-letter-spacing"
                pattern="[0-9]*"
                inputmode="numeric"
                autocomplete="one-time-code"
                label-class="govuk-label--s" />

            <p>
                <a href="@LinkGenerator.AccountPhoneResend(Model.MobileNumber!, Model.ClientRedirectInfo)">I have not received an text message</a>
            </p>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
