@page "/sign-in/trn/no-match"
@model TeacherIdentity.AuthServer.Pages.SignIn.Trn.NoMatch
@{
    ViewBag.Title = "We could not find your record";
}

@section BeforeContent
{
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.TrnNoMatch()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>This could be because you:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>abbreviated your first name, for example Rob/Robert</li>
                <li>used a different name to the one held on the Teaching Regulation Agency records</li>
                <li>mistyped or entered some incorrect information</li>
            </ul>

            <h2 class="govuk-heading-m">Check your answers</h2>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value class="empty-hyphens">@Html.ShyEmail(Model.EmailAddress!)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.OfficialName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                @if (!string.IsNullOrEmpty(Model.PreviousOfficialName))
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Previous name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.PreviousOfficialName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (!string.IsNullOrEmpty(Model.PreferredName))
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Preferred name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.PreferredName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DateOfBirth?.ToString(Constants.DateFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                @if (Model.HaveNationalInsuranceNumber is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@(Model.NationalInsuranceNumber ?? "Not given")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (Model.AwardedQts is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Have you been awarded QTS?</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@(Model.AwardedQts == true ? "Yes" : "No")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (Model.AwardedQts == true)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Did a university, SCITT or school award your QTS?</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@(Model.IttProviderName ?? "No, I was awarded QTS another way")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>

            <govuk-radios asp-for="HasChangesToMake">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m"/>

                    <govuk-radios-item value="True">Yes, I have different details I can try</govuk-radios-item>
                    <govuk-radios-item value="False">No, use these details, they are correct</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>

